[buildout]
versions = versions
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

package-name = pspolicy.homes4.base
package-extras = [test]

parts += omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[versions]
zope.configuration = 3.8.0
